pyrogram==2.0.106
py-tgcalls==0.9.7
tgcrypto
yt-dlp
aiohttp
requests
pydub
ffmpeg-python
python-dotenv
pyyaml
spotipy 
gtts 
gitpython
apscheduler
motor
heroku3
git+https://github.com/AsmSafone/SafoneAPI.git
